<div class="cte WdB pdT5r">

	<div class="cte WdB">

		<div class="h1 Line">Inputs</div>

		<div class="o-tbl SpcB">
			<div class="tbl">
				<div class="cll">
					<input o-input placeholder="o-input.o-input > input" required ng-pattern="/^[0-9]{1,7}$/" ng-model-options="{allowInvalid:true}" ng-model="input01" name="firstinput"></input>
				</div>
				<div class="cll">
					<input o-input placeholder="o-input.o-input > input" required ng-pattern="/^[0-9]{1,7}$/" ng-model-options="{allowInvalid:true}" ng-model="input01" name="firstinput"></input>
				</div>
			</div>
		</div>
	</div>

</div>