$stork-blue:#283A87;
$error:#F4501E;

h1{
	font-size:4rem;
	margin-bottom:2rem;	
}
h2{
	font-size: 2rem;
}
h3{
	font-size: 2rem;
	text-transform:uppercase; 
}
h1,h2,h3{
	margin-bottom:3rem;
}
.box > .tbl{
	background-color:gray;
}
strong{
	font-weight:bold;
}