<div ng-include="'views/includes/search.html'">
	

</div>

<div class="cte WdB pdT5r">

	<div class="h1 Line">Contacts</div>

	<div class="o-box SpcA Wd50 m_Wd100A">

	<div class="box" ng-repeat="contact in contacts">
		
		<div class="tbl">
		  <div class="cll">
		    <h2 ng-bind="contact.name"></h2>
		  </div>
		</div>

	</div>

</div>



  <div class="box">
    <div class="tbl">
      <div class="cll">
        <div class="block">Box <span class="op0-5 cname">.o-box</span></div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="tbl">
      <div class="cll">
        <div class="block">Box <span class="op0-5 cname">.o-box</span></div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="tbl">
      <div class="cll">
        <div class="block">Box <span class="op0-5 cname">.o-box</span></div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="tbl">
      <div class="cll">
        <div class="block">Box <span class="op0-5 cname">.o-box</span></div>
      </div>
    </div>
  </div>
</div>